<nav>

    <div class="container">

        <img src="
            https://images.pexels.com/photos/258174/pexels-photo-258174.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="" class="logo">
        <a href="/">
            <img src="{{ "media/home.png" | relURL }}">
        </a>
        <a href="/about">
            <img src="{{ "media/about.png" | relURL }}">
        </a>
        <a href="/blog">
            <img src="{{ "media/blog.png" | relURL }}">
        </a>
        <a href="/products">
            <img src="{{ "media/products.png" | relURL }}">
        </a>

    </div>

</nav>